[workspace]
authors = ["Brian Grenier <grenierb96@gmail.com>"]
channels = ["https://conda.modular.com/max", "conda-forge"]
name = "Kelvin"
platforms = ["linux-64", "linux-aarch64", "osx-arm64"]
version = "0.2.0"
preview = ["pixi-build"]

[tasks]
test_reject = { cmd = "python3 ./scripts/run_reject_tests.py" }
test = { cmd = "python run_test.py", depends-on=["generate_tests", "format_quiet"] }
test_all = { depends-on=["test", "test_reject", "test_ctime"] }
format = "mojo format -l 80 kelvin test"
format_quiet = "pixi run format -q"
package = "mojo package kelvin -o kelvin.mojopkg"
generate_tests = "python3 ./scripts/generate_tests.py"
update_and_test = "pixi update && pixi run test"
rocket = "mojo -I . ./examples/rocket.mojo"
test_ctime = "time mojo build -I . ./examples/rocket.mojo && rm rocket"


[dependencies]
mojo = "==0.26.1.0"

[environments]
default = { solve-group = "default" }
proof = { features = ["proof"], solve-group = "default" }

[feature.proof.tasks]
run_proofs = "python3 ./misc/ratio_add_proof.py"

[feature.proof.pypi-dependencies]
z3-solver = ">=4.14.1.0, <5"


[package]
name = "kelvin"
version = "0.2.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.host-dependencies]
mojo-compiler = "==0.26.1.0"

[package.build-dependencies]
mojo-compiler = "==0.26.1.0"

[package.run-dependencies]
mojo-compiler = "==0.26.1.0"
