[project]
authors = ["Brian Grenier <grenierb96@gmail.com>"]
channels = ["https://conda.modular.com/max-nightly", "conda-forge"]
name = "Kelvin"
platforms = ["linux-64", "linux-aarch64", "osx-arm64"]
version = "0.1.3"

[tasks]
test_reject = { cmd = "python3 ./scripts/run_reject_tests.py && rm kelvin.mojopkg", depends-on=["package"] }
test = { cmd = "mojo test -D ASSERT=all -I . test", depends-on=["generate_tests", "format_quiet", "test_reject"] }
format = "mojo format -l 80 kelvin test"
format_quiet = "pixi run format -q"
package = "mojo package kelvin -o kelvin.mojopkg"
generate_tests = "python3 ./scripts/generate_tests.py"
update_and_test = "pixi update && pixi run test"


[dependencies]
mojo = ">=0.25.7.0.dev2025102220,<0.26"

[environments]
default = { solve-group = "default" }
proof = { features = ["proof"], solve-group = "default" }

[feature.proof.tasks]
run_proofs = "python3 ./misc/ratio_add_proof.py"

[feature.proof.pypi-dependencies]
z3-solver = ">=4.14.1.0, <5"
